.flex-container{
  background-color: blue;
  display: flex;
  padding: 6%;
  justify-content: center;
  margin: 3%;

}
.flex-container > div {
  width: 100px;
  margin: 10px;
}
.box1 {
  background-color: blueviolet;
  padding: 3%;
  font-size: medium;
}
.box2{
  background-color: chocolate;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}
.box3{
  background-color: darkgreen;
  font-weight: 200;
}
